<div class="loading_hide_background">
  <div class="loading_header">
    <div [class]="'ltr'" class="loading_content">
      <div class="row-1">
        <div class="box column-1"></div>
        <div class="box column-2"></div>
        <div class="box column-3"></div>
        <div class="box column-4"></div>
        <div class="box column-5"></div>
        <div class="box column-6"></div>
      </div>
    </div>
  </div>
</div>
