
.loading_hide_background {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading_hide_background:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgb(1, 74, 151, 1), rgba(237, 126, 30, 1));
  background: -webkit-radial-gradient(rgba(74, 85, 104, .2), rgb(26, 32, 44, .2));
}

.box {
  width: 500px;
  height: 500px;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  top: -50%;
  display: inline-block;
  padding: 0;
  margin: 0;
}

$iteration: (1: 6, 2: 5, 3: 4, 4: 3, 5: 2, 6 :1);
@each $key, $value in $iteration {
  .rtl .row-#{$key} {
    @each $key2, $value2 in $iteration {
      .column-#{$key2} {
        background-image: url("logo/#{$key2}.png");
        background-repeat: no-repeat;
        background-size: 100px 100px;
      }
    }
  }
  .ltr .row-#{$key} {
    @each $key2, $value2 in $iteration {
      .column-#{$key2} {
        background-image: url("logo/#{$key2}.png");
        background-repeat: no-repeat;
        background-size: 100px 100px;
      }
    }
  }
}



