<div class="grid p-fluid refresh-view">
  <div class="col-12">
    <p-panel>
      <ng-template pTemplate="header">
        Excel Columns
      </ng-template>
      <ng-template pTemplate="icons">
        <div style="display: flex">
          <button (click)="dataCleanup()" class="p-button-rounded p-button-info mr-2 mb-2" label="Clean Up Data"
                  pButton
                  pRipple style="width: auto !important;"
                  type="button"></button>

          <button [routerLink]="'/create_update'" class="p-button-rounded mr-2 mb-2" label="Add Excel Table"
                  pButton pRipple
                  style="width: auto !important;" type="button"
          ></button>

        </div>
      </ng-template>
      <ng-template pTemplate="body">
        <p-table

          #dt
          [columns]="datatableHeader"
          [paginator]="true"
          [rowsPerPageOptions]="[10,25,50, { showAll: 'All' }]"
          [rows]="10"
          [totalRecords]="originExcelTable.length"
          [value]="originExcelTable"
          dataKey="id"
          editMode="row">
          <ng-template let-columns pTemplate="header">

            <tr>
              <th *ngFor="let col of columns">
                {{ col.name }}
              </th>
              <th>
                EDIT
              </th>
            </tr>
          </ng-template>

          <ng-template let-columns="columns" let-ri="rowIndex" let-rowData pTemplate="body">
            <tr>
              <td *ngFor="let col of columns">
                {{ rowData[col.name]}}
              </td>
              <td style="text-align:center">
                <button [routerLink]="'/wizard/import/' + rowData.name"
                        class="p-button-rounded p-button-info p-button-text ml-2 mr-2 " icon="pi pi-upload" pButton
                        pRipple
                        type="button"></button>

                <button [routerLink]="'/create_update/' + rowData.id"
                        class="p-button-rounded p-button-text ml-2 mr-2 " icon="pi pi-pencil" pButton
                        pRipple
                        type="button"></button>

                <button (click)="onRemoveOriginExcelTable(rowData,ri)"
                        class="p-button-rounded p-button-text p-button-danger ml-2" icon="pi pi-trash" pButton
                        pRipple
                        type="button"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-panel>
  </div>
</div>
