/* alegreya-regular - latin */
.theme-main {
  //sidebar //
  --bg-sidebar: var(--gray900);
  --bg-sidebar-border: var(--yellow600);
  --cl-sidebar-link: var(--gray300);
  --bg-sidebar-link-active: var(--gray800);
  --cl-sidebar-link-active: var(--gray100);
  --cl-sidebar-logo-text1: var(--yellow500);
  --cl-sidebar-logo-text2: var(--gray100);

  --cl-sidebar-menu-header: var(--yellow500);
  --bg-sidebar-svg: var(--yellow600);
  --bg-sidebar-active: var(--yellow400);

  //scrollbar //
  --bg-scrollbar: var(--yellow600);
  --bg-navbar: var(--gray100);
  --bg-navbar-shadow: var(--gray900);
  --bg-navbar-user: var(--gray100);
  --cl-navbar-user-name: var(--gray900);
  --bg-navbar-svg: var(--gray800);
  --bg-navbar-svg-active: var(--yellow900);
  --cl-navbar-link: var(--gray900);
  --cl-navbar-link-active: var(--gray900);
  --cl-navbar-border-color: var(--gray700);
  --cl-bg-mat-icon: var(--gray900);
  --bg-mat-icon-hover: var(--gray600);
  --cl-mat-icon-hover: var(--gray100);
  --bg-default-page: var(--gray100);
  --cl-default-page-text: var(--gray900);
  --bg-footer: var(--gray200);
  --cl-footer-text: var(--gray900);

  //card box shadow
  --cl-box_shadow-1: rgba(0, 0, 0, .02);
  --cl-box_shadow-2: rgba(0, 0, 0, .05);
  --cl-box_shadow-3: rgba(0, 0, 0, .08);
  //global colors
  --primary-color: var(--yellow500);

  // navbar
  --bg-navbar-modules: var(--gray100);
  --cl-navbar-modules: var(--gray900);
  --bg-hv-navbar-modules: var(--gray300);
  --cl-hv-navbar-modules: var(--gray900);
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('./alegreya-v29-latin/alegreya-v29-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./alegreya-v29-latin/alegreya-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./alegreya-v29-latin/alegreya-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./alegreya-v29-latin/alegreya-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./alegreya-v29-latin/alegreya-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./alegreya-v29-latin/alegreya-v29-latin-regular.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* average-regular - latin */
@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src: url('./average-v16-latin/average-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./average-v16-latin/average-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./average-v16-latin/average-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./average-v16-latin/average-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./average-v16-latin/average-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./average-v16-latin/average-v16-latin-regular.svg#Average') format('svg'); /* Legacy iOS */
}

body {
  font-family: Average, serif;
  font-weight: normal;
  font-style: normal;
  background-color: var(--gray300) !important;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer !important;;
  text-decoration: none !important;;
}

.me-3 {
  margin-right: 1rem !important;
}

.align-middle {
  vertical-align: middle !important;
}

.dropdown-menu {
  border: none !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
  width: 200px;
}

.dropdown-menu a {
  font-size: 13px;
}


.default-page .card {
  background-color: var(--bg-default-page) !important;
}

$iconSize: (
  3 : 0.75rem,
  4 : 1rem,
  5 : 1.25rem,
  6 : 1.5rem,
  7 : 1.75rem,
  8 : 2rem,
  10 : 2.5rem,
  12 : 3rem,
  14 : 3.5rem,
  16 : 4rem,
  18 : 4.5rem,
  20 : 5rem,
  22 : 5.5rem,
  24 : 6rem
);

@each $key, $value in $iconSize {
  .icon-size-#{$key} {
    width: $value;
    height: $value;
    min-width: $value;
    min-height: $value;

    svg {
      width: $value;
      height: $value;
    }
  }
}

.display-text-center {
  height: 100% !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

@media only screen and (max-width: 500px) {
  .card {
    padding: 0.2rem !important;
    margin-bottom: 0 !important;
  }
  .default-page {
    padding: 0 !important;
  }
}


[dir=ltr] {
  .g-float-left {
    float: left;
  }

  .g-float-right {
    float: right;
  }
}

[dir=rtl] {
  .g-float-left {
    float: right;
  }

  .g-float-right {
    float: left;
  }
}
