<p-fileUpload (onSelect)="onFileUpload($event)" (uploadHandler)="onSubmit()"
              [customUpload]="true"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
  <ng-template pTemplate="content">

  </ng-template>
</p-fileUpload>
<small *ngIf="excelImportForm['file'].errors?.['required'] && isSubmitted" class="p-error">file is required</small>
