<div class="card" style="background-color: white">
  <div style="
      width: 40%;
      position: relative;
    left: calc((100% ) / 2);
cursor: pointer">
    <img [routerLink]="'/list'" class="mr-2" height="60" src="/assets/logo.png"/>
  </div>
</div>

<div class="col-12 default-page theme-main ">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast [position]="'top-right'" [showTransformOptions]="'translateX(100%)'"></p-toast>

<app-loader *ngIf="loaderService.isLoading | async"></app-loader>
