<p-panel>
  <ng-template pTemplate="header">
    Update Excel Structure
  </ng-template>
  <ng-template pTemplate="icons">

    <button (click)="addExcelHeader()" class="p-button-rounded mr-2 mb-2" icon="pi pi-plus-circle"
            label="Add Empty Case" label="Add Excel Table"
            pButton pRipple
            type="button"></button>

    <button (click)="delete(tableName)" class="p-button-rounded  p-button-danger mr-2 mb-2"
            icon="pi pi-arrow-circle-left" label="Delete Excel Table"
            pButton pRipple
            type="button"></button>

    <button (click)="onSubmit()" class="p-button-rounded p-button-info mr-2 mb-2" label="Submit"
            pButton pRipple
            type="button"></button>

  </ng-template>
  <ng-template pTemplate="body">

    <div class="grid">
      <div class="col-6">
        <div (cdkDropListDropped)="drop($event)"
             [cdkDropListData]="excelFields"
             cdkDropList
             class="example-list">
          <div *ngFor="let item of excelFields" [cdkDragData]="item" cdkDrag class="example-box move">
            {{item.name}}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="example-list">
          <div *ngFor="let item of excelColumns" class="example-box">
            {{item.name}}
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-panel>




