<style>
  .p-fluid .p-button {
    width: auto;
  }
</style>
<div class="grid p-fluid refresh-view">
  <div class="col-12 ">
    <div class="card">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <div class="col-12">
            <label>Name</label>
            <input [(ngModel)]="excelTable.name" id="name" pInputText placeholder="Name"
                   type="text"/>
          </div>
          <div class="col-12 ">
            <label> VALIDATION </label>
            <p-multiSelect [(ngModel)]="excelTable.excelValidation"
                           [filter]="false"
                           [options]="tableValidation"
                           id="multiselect" ngDefaultControl
                           optionLabel="name"
                           optionLabel="name" optionValue="id"></p-multiSelect>
          </div>
          <div class="col-12">
            <label> EXTERNAL SERVER INSERT
              <p-checkbox [(ngModel)]="excelTable.externalServerInsert" [binary]="true" class="mr-5 ml-5"
                          value="true"></p-checkbox>
            </label>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <div *ngIf="excelTable.externalServerInsert" class="col-12">
            <label> Url</label>
            <input [(ngModel)]="excelTable.url" pInputText placeholder="Url"
                   type="text"/>
          </div>
          <div class="col-12">
            <label> Description</label>
            <textarea [(ngModel)]="excelTable.description" cols="30" pInputTextarea
                      placeholder="Description" rows="3"></textarea>
          </div>

        </div>
        <div class="col-12">
          <p-panel>
            <ng-template pTemplate="header">
              Excel Columns
            </ng-template>
            <ng-template pTemplate="icons">
              <button (click)="addExcelColumn()" class="p-button-rounded mr-2 mb-2" label="Add Excel Column" pButton
                      pRipple type="button"></button>
            </ng-template>
            <ng-template pTemplate="body">

              <div class="field col-12">
                <p-table

                  #dt
                  [columns]="datatableHeader"
                  [paginator]="true"
                  [rowsPerPageOptions]="[10,25,50, { showAll: 'All' }]"
                  [rows]="10"
                  [totalRecords]="excelTable.excelInfoColumns.length"
                  [value]="excelTable.excelInfoColumns"
                  dataKey="id"
                  editMode="row">
                  <ng-template let-columns pTemplate="header">

                    <tr>
                      <th style="width: 5rem"></th>
                      <th *ngFor="let col of columns">
                        {{ col.name }}
                      </th>
                      <th>
                        EDIT
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template let-columns="columns" let-editing="editing" let-expanded="expanded" let-ri="rowIndex"
                               let-rowData pTemplate="body">
                    <tr [pEditableRow]="rowData">
                      <td>
                        <button *ngIf="rowData.foreignKey || rowData.uniqueKey"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" [pRowToggler]="rowData"
                                class="p-button-text p-button-rounded p-button-plain"
                                class="column-expanded-{{ri}}"
                                pButton
                                pRipple
                                type="button"></button>
                      </td>
                      <td *ngFor="let col of columns">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <ng-container
                              [ngTemplateOutletContext]="{row:rowData , col:col.name,optionData:col.data,index:ri, label:col.label}"
                              [ngTemplateOutlet]='(col.type=="dropDown")?dropDownEdit:(col.type=="input")?inputEdit:checkboxEdit'>
                            </ng-container>
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ rowData[col.name]}}
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td style="text-align:center">
                        <button (click)="onRowEditInit(rowData,ri)" *ngIf="!editing"
                                class="p-button-rounded p-button-text mr-2" class="column-edit-{{ri}}"
                                icon="pi pi-pencil" pButton
                                pInitEditableRow pRipple
                                type="button"></button>
                        <button (click)="onRowEditSave(rowData,ri)" *ngIf="editing"
                                class="p-button-rounded p-button-text p-button-success mr-2" icon="pi pi-check" pButton
                                pCancelEditableRow
                                pRipple
                                type="button"></button>
                        <button (click)="onRowEditCancel(rowData, ri)" *ngIf="editing"
                                class="p-button-rounded p-button-text p-button-danger" icon="pi pi-times" pButton
                                pCancelEditableRow
                                pRipple
                                type="button"></button>
                        <button (click)="onRemoveColumn(rowData,ri)" *ngIf="!editing"
                                class="p-button-rounded p-button-text p-button-danger ml-2" icon="pi pi-trash" pButton
                                pRipple
                                type="button"></button>
                      </td>
                    </tr>
                  </ng-template>


                  <ng-template let-rowData pTemplate="rowexpansion">
                    <tr *ngIf="rowData.foreignKey || rowData.uniqueKey">
                      <td class="invert_primng_color" colspan="12">
                        <p-table [value]="rowData | ConvertObjectToArray" dataKey="id">
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="width: 5rem"></th>
                              <th pSortableColumn="schema"> schema</th>
                              <th pSortableColumn="table"> table</th>
                              <th pSortableColumn="column"> column reference</th>
                              <th pSortableColumn="column"> table id</th>
                            </tr>
                          </ng-template>
                          <ng-template let-rowData pTemplate="body">
                            <tr *ngIf="rowData.foreignKey">
                              <td>ForeignKey</td>
                              <td>
                                <p-dropdown [(ngModel)]="rowData.excelInfoColumnForeignKey.schema"
                                            [filterBy]="'schemaName'"
                                            [filter]="true"
                                            [options]="databaseStructure.schemas" appendTo="body"
                                            optionLabel="schemaName" optionValue="schemaName"></p-dropdown>
                              </td>
                              <td>
                                <p-dropdown [(ngModel)]="rowData.excelInfoColumnForeignKey.tableName"
                                            [filterBy]="'tableName'" [filter]="true"
                                            [options]="getTablesBySchema(rowData.excelInfoColumnForeignKey.schema)"
                                            appendTo="body" optionLabel="tableName"
                                            optionValue="tableName"></p-dropdown>
                              </td>
                              <td>
                                <p-dropdown
                                  [(ngModel)]="rowData.excelInfoColumnForeignKey.tableReferenceColumn"
                                  [filterBy]="'columnName'" [filter]="true"
                                  [options]="getColumnsByTableNameAndSchema(rowData.excelInfoColumnForeignKey.schema,rowData.excelInfoColumnForeignKey.tableName)"
                                  appendTo="body"
                                  optionLabel="columnName"
                                  optionValue="columnName"></p-dropdown>
                              </td>
                              <td>
                                <p-dropdown
                                  [(ngModel)]="rowData.excelInfoColumnForeignKey.tableIdColumn"
                                  [filterBy]="'columnName'" [filter]="true"
                                  [options]="getColumnsByTableNameAndSchema(rowData.excelInfoColumnForeignKey.schema,rowData.excelInfoColumnForeignKey.tableName)"
                                  appendTo="body"
                                  optionLabel="columnName"
                                  optionValue="columnName"></p-dropdown>
                              </td>

                            </tr>
                            <tr *ngIf="rowData.uniqueKey">
                              <td>UniqueKey</td>
                              <td>
                                <p-dropdown [(ngModel)]="rowData.excelInfoColumnUniqueKey.schema"
                                            [filterBy]="'schemaName'"
                                            [filter]="true"
                                            [options]="databaseStructure.schemas" appendTo="body"
                                            optionLabel="schemaName" optionValue="schemaName"></p-dropdown>
                              </td>
                              <td>
                                <p-dropdown [(ngModel)]="rowData.excelInfoColumnUniqueKey.tableName"
                                            [filterBy]="'tableName'" [filter]="true"
                                            [options]="getTablesBySchema(rowData.excelInfoColumnUniqueKey.schema)"
                                            appendTo="body" optionLabel="tableName"
                                            optionValue="tableName"></p-dropdown>
                              </td>
                              <td>
                                <p-dropdown
                                  [(ngModel)]="rowData.excelInfoColumnUniqueKey.tableReferenceColumn"
                                  [filterBy]="'columnName'" [filter]="true"
                                  [options]="getColumnsByTableNameAndSchema(rowData.excelInfoColumnUniqueKey.schema,rowData.excelInfoColumnUniqueKey.tableName)"
                                  appendTo="body"
                                  optionLabel="columnName"
                                  optionValue="columnName"></p-dropdown>
                              </td>
                              <td>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>

                      </td>
                    </tr>
                  </ng-template>


                </p-table>


              </div>

            </ng-template>
          </p-panel>
        </div>

        <div class="col-12">
          <div class="flex justify-content-end flex-wrap ">
            <div class="flex align-items-center justify-content-center  m-2">
              <button (click)="submitForm()" class="p-button-rounded  p-button-info mr-2 mb-2" label="Submit From"
                      pButton
                      pRipple
                      type="button"></button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<ng-template #dropDownEdit
             let-column="col" let-label="label" let-optionData="optionData" let-row="row">
  <p-dropdown [(ngModel)]="row[column]" [optionLabel]="label" [optionValue]="label" [options]="optionData"
              [style]="{'width':'100%'}"
              appendTo="body"></p-dropdown>
</ng-template>

<ng-template #inputEdit let-column="col" let-row="row">
  <input [(ngModel)]="row[column]" pInputText type="text">
</ng-template>

<ng-template #checkboxEdit let-column="col" let-index="index" let-row="row">
  <p-checkbox (onChange)="updateCheckBox(row,column,index)" [(ngModel)]="row[column]" [binary]="true"
              value="true"></p-checkbox>
</ng-template>
