:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


:host ::ng-deep {
  .foreignKey {
    color: black;
    background-color: #ffd6b6;
  }

  .uniquekey {
    color: black;
    background-color: #ea7362;
  }

  .columnValidation {
    color: black;
    background-color: #b74242;
  }

  .requiredColumns {
    color: black;
    background-color: #5c2626;
  }
}

