<p-panel>
  <ng-template pTemplate="header">
    Excel Columns
  </ng-template>
  <ng-template pTemplate="icons">
    <p-button
      (onClick)="delete(tableName)" icon="pi pi-arrow-circle-left"
      label="Delete Excel Table"
      styleClass=" p-button-rounded p-button-danger mr-2 mb-2"></p-button>

    <p-button (onClick)="insertValidData()"
              *ngIf="externalServerInsert" label="INSERT Valid Data"
              styleClass=" p-button-rounded p-button-info mr-2 mb-2"></p-button>

    <p-button (onClick)="downloadValidData()"
              *ngIf="!externalServerInsert" label="DownLoad Valid Data"
              styleClass=" p-button-rounded p-button-info mr-2 mb-2"></p-button>

  </ng-template>
  <ng-template pTemplate="body">
    <p-table
      #dt
      (onLazyLoad)="loadFromServer($event)"
      [columns]="datatableHeader"
      [lazy]="true"
      [paginator]="true"
      [rowsPerPageOptions]="[10,25,50, { showAll: 'All' }]"
      [rows]="10"
      [totalRecords]="totalRecords"
      [value]="datatableBody"
      dataKey="id"
      editMode="row">
      <ng-template let-columns pTemplate="header">
        <tr>
          <th *ngFor="let col of columns">
            <input (input)="dt.filter($event.target, col, 'contains')" pInputText type="text"/>
          </th>
          <th>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            {{ col }}
          </th>
          <th>
            EDIT
          </th>
        </tr>
      </ng-template>
      <ng-template let-columns="columns" let-editing="editing" let-ri="rowIndex" let-rowData pTemplate="body">
        <tr [pEditableRow]="rowData">
          <td *ngFor="let col of columns"
              [class.columnValidation]="checkIfListHaveValue(rowData?.columnValidation,col)"
              [class.foreignKey]="checkIfListHaveValue(rowData?.foreignKeys,col)"
              [class.requiredColumns]="checkIfListHaveValue(rowData?.requiredColumns,col)"
              [class.uniquekey]="checkIfListHaveValue(rowData?.uniqueKeys,col)">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <ng-container
                  [ngTemplateOutletContext]="{row:rowData , col:col}"
                  [ngTemplateOutlet]='(checkIfHeaderInForeignKey(col))?dropDownEdit:inputEdit'>
                </ng-container>
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.contents[col]}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align:center">
            <button (click)="onRowEditInit(rowData,ri)" *ngIf="!editing" class="p-button-rounded p-button-text"
                    icon="pi pi-pencil" pButton pInitEditableRow
                    pRipple type="button"></button>
            <button (click)="onRowEditSave(rowData,ri)" *ngIf="editing"
                    class="p-button-rounded p-button-text p-button-success mr-2" icon="pi pi-check" pButton
                    pCancelEditableRow
                    pRipple
                    type="button"></button>
            <button (click)="onRowEditCancel(rowData, ri)" *ngIf="editing"
                    class="p-button-rounded p-button-text p-button-danger" icon="pi pi-times" pButton pCancelEditableRow
                    pRipple
                    type="button"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-panel>

<ng-template #dropDownEdit
             let-column="col" let-row="row">
  <p-dropdown [(ngModel)]="row.contents[column]"
              [filter]="true"
              [optionLabel]="'foreignKey'"
              [optionValue]="'foreignKey'"
              [options]="foreignKeys | getMapArrayValueByIndexPipe :column"
              [style]="{'width':'100%'}"
              [virtualScrollItemSize]="12"
              [virtualScroll]="true"
              appendTo="body"
              filterBy="foreignKey"></p-dropdown>
</ng-template>

<ng-template #inputEdit let-column="col" let-row="row">
  <input [(ngModel)]="row.contents[column]" pInputText type="text"style="width: 100%">
</ng-template>
